@import url("https://fonts.cdnfonts.com/css/instrument-sans");
@import url("https://fonts.cdnfonts.com/css/instrument-sans");
html * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  word-wrap: break-word;
  text-wrap: wrap;
  font-weight: 400;
  font-family: "Instrument Sans", sans-serif;
  color: #f3f3f3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
html *::selection {
  background: #8f18df;
  color: #121212;
}

#hamburgermenu {
  display: none;
}

body {
  height: 100%;
  width: 100dvw;
  background: #232323;
  overflow-x: hidden;
}

.contentWrapper {
  width: 100vmin;
  height: calc(100% - 5vmin);
  margin: auto;
  padding: 5vmin;
  z-index: 16;
}

.shade {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center;
}

.textWrapper {
  height: calc(100% - 5vmin);
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textWrapper h1 {
  margin-bottom: 3vmin;
  color: #f3f3f3;
  width: 100%;
  font-size: 7.5vmin;
  line-height: 7vmin;
  font-weight: bold;
}
.textWrapper p {
  margin-bottom: 3vmin;
  color: #d7d7d7;
  width: 100%;
  font-size: 2.5vmin;
  line-height: 3.5vmin;
  font-weight: lighter;
}
.textWrapper hr {
  border: 1px solid #2a2a2a;
  margin-bottom: 2vmin;
  width: 100%;
}

.left {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0%;
  display: flex;
  left: 0%;
}

.right {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0%;
  display: flex;
  right: 0%;
}

.ignore-css {
  all: unset;
}

.grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
}

.stripe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(45deg, transparent, transparent 5px, #121212 5px, #121212 10px);
}

#loading {
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #121212;
  z-index: 9997;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s;
  pointer-events: auto;
}
#loading #loading_logo {
  height: 30vmin;
  aspect-ratio: 1/1;
  background-image: url("/logo-square.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 9999;
  transition: 0.35s;
  animation: 3s infinite loadingani;
  filter: drop-shadow(0 0 1.5vmin rgba(255, 255, 255, 0.1450980392)) drop-shadow(0 0 30vmin #8f18df) drop-shadow(0 0 15vmin #8f18df) drop-shadow(0 0 5vmin rgba(143, 24, 223, 0.3137254902));
}

.nav_active {
  background: #141414;
}

@keyframes loadingani {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section {
  padding: 2vmin;
  width: 100dvw;
  display: flex;
  border-top: 1px solid #2a2a2a;
}

.borderglow {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  pointer-events: none;
  user-select: none;
  background-image: radial-gradient(transparent, rgba(143, 24, 223, 0.1254901961));
}

.borderglow-l {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  pointer-events: none;
  user-select: none;
  background-image: radial-gradient(transparent, rgba(143, 24, 223, 0.062745098));
}

@font-face {
  font-family: "M1dnight";
  src: url(../../assets/fonts/doomed.ttf);
}
header {
  height: 85vmin;
  width: 100dvw;
  background: #191919;
  display: flex;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*fallback*/
  background-image: url("../../assets/images/bg1.png");
  background-image: radial-gradient(transparent, rgba(143, 24, 223, 0.1882352941)), url("../../assets/images/bg1.png");
  background-attachment: fixed;
}
header .txtlogo {
  font-family: "M1dnight" !important;
  font-size: 15vmin;
  z-index: 10;
  user-select: none;
  transition: 0.35s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  color: #f3f3f3;
  filter: drop-shadow(0 0 30vmin #8f18df);
}
header .txtlogo:hover {
  transform: scale(115%) translate(-50%, -50%) translate(7.5%, 7.5%);
}
header .txtlogoshadow {
  font-family: "M1dnight" !important;
  font-size: 15vmin;
  z-index: 10;
  user-select: none;
  transition: 0.35s;
  color: #8f18df;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(5vmin) drop-shadow(0 0 50vmin #8f18df) drop-shadow(0 0 15vmin #8f18df);
  z-index: 14;
}

#s1 #s1l {
  background: #191919;
  border-right: 1px solid #2a2a2a;
  background-image: radial-gradient(transparent, rgba(143, 24, 223, 0.0823529412));
}
#s1 #s1l * {
  filter: drop-shadow(0 0 20vmin #8f18df);
}
#s1 #s1r {
  background-attachment: fixed;
  /*fallback*/
  background-image: url("../../assets/images/bg2.png");
  background-image: url("../../assets/images/bg2.png"), radial-gradient(transparent, rgba(143, 24, 223, 0.0823529412));
}
#s1 #s1r .textWrapper {
  height: 100% !important;
  aspect-ratio: auto !important;
  width: 100% !important;
}/*# sourceMappingURL=style.css.map */